body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "lobster", cursive;
}

h2 {
    color: #3046C5
}

header h2 {
    color: #CEC8FF
}

site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0
}

.jumbotron {
    padding : 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B );
    color:white;
    margin:0;
}

.row-content {
    padding : 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #901CAD;

}

.tab-content {
    border: 1px solid #DDD;
    border-top:none;
    padding:10px;
}

.carousel-caption {
    background-color: rgba(138, 132, 132, 0.5);
}

.carousel {
    border: solid #3a288d;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #3106f060;
}
.carousel-indicators {
    bottom: -50px;
}